.elementor-806 .elementor-element.elementor-element-3ec4637 {
    padding: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-5caa902 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 10px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value__label,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value__remove,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-multiselect .mf_multiselect__control {
    background-color: #FFFFFF;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input {
    padding: 17px 17px 17px 17px;
    border-radius: 30px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-file-upload-label {
    padding: 17px 17px 17px 17px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total {
    padding: 17px 17px 17px 17px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf_select__control,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__control .mf_multiselect__value-container,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options {
    padding: 17px 17px 17px 17px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .range-slider {
    padding: 17px 17px 17px 17px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input,
.elementor-806 .elementor-element.elementor-element-478242f .elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-bar,
.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-from,
.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-to,
.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-single {
    background-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-handle {
    border-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-from:before,
.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-to:before,
.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-single:before {
    border-top-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf_select__single-value {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper {
    border-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .input-range__track--active {
    background-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: var( --e-global-color-text);
    border-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-text);
    fill: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value__label,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value__remove,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-select>.mf_select__control,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-multiselect .mf_multiselect__control,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:hover,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-handle:hover {
    border-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-file-upload-label:hover {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:hover .mf_select__single-value {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-text);
    fill: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options:hover {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:hover,
.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container:hover .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total:hover,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-select>.mf_select__control:hover,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option:hover,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options:hover {
    border-style: solid;
    border-color: var( --e-global-color-9c764db);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:focus,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-handle:focus {
    border-color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container:focus .mf-image-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total:focus {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-text);
    fill: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total:focus,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option:focus,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options:focus {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:focus,
.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total:focus,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper>.mf-input-select>.mf_select__control--is-focused,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option:focus,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options:focus {
    border-style: solid;
    border-color: var( --e-global-color-9c764db);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input,
.elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-single,
.elementor-806 .elementor-element.elementor-element-478242f .asRange .asRange-pointer .asRange-tip,
.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .input-range__label-container {
    font-family: var( --e-global-typography-1eb2da8-font-family), Sans-serif;
    font-size: var( --e-global-typography-1eb2da8-font-size);
    font-weight: var( --e-global-typography-1eb2da8-font-weight);
    line-height: var( --e-global-typography-1eb2da8-line-height);
    letter-spacing: var( --e-global-typography-1eb2da8-letter-spacing);
    word-spacing: var( --e-global-typography-1eb2da8-word-spacing);
}

.elementor-806 .elementor-element.elementor-element-478242f .input-range .input-range__track {
    border-radius: 30px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container .mf-input-file-upload-label,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total {
    border-radius: 30px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input-select>.mf_select__control,
.elementor-806 .elementor-element.elementor-element-478242f .mf-input-multiselect .mf_multiselect__control,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__option,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value__label,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__multi-value__remove,
.elementor-806 .elementor-element.elementor-element-478242f .mf_multiselect__menu-notice--no-options {
    border-radius: 30px;
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-time-input::before {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input::-webkit-input-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input::-moz-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:-ms-input-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-input:-moz-placeholder {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: var( --e-global-color-text);
}

.elementor-806 .elementor-element.elementor-element-478242f .mf-error-message {
    color: #FF0000;
}

.elementor-806 .elementor-element.elementor-element-34e3ea2 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 10px;
}

.elementor-806 .elementor-element.elementor-element-5c16fcd .mf-btn-wraper {
    text-align: justify;
}

.elementor-806 .elementor-element.elementor-element-5c16fcd .metform-btn {
    background-color: var( --e-global-color-9c764db);
    padding: 17px 37px 17px 37px;
    color: #ffffff;
    border-style: none;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-806 .elementor-element.elementor-element-5c16fcd .metform-btn:hover {
    background-color: #FFFFFF;
    color: var( --e-global-color-secondary);
}

.elementor-806 .elementor-element.elementor-element-5c16fcd .metform-btn:focus {
    color: #FFFFFF;
}

@media(max-width:1024px) {
    .elementor-806 .elementor-element.elementor-element-5caa902 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 10px;
    }
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input,
    .elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-single,
    .elementor-806 .elementor-element.elementor-element-478242f .asRange .asRange-pointer .asRange-tip,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container .mf-input-file-upload-label,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .input-range__label-container {
        font-size: var( --e-global-typography-1eb2da8-font-size);
        line-height: var( --e-global-typography-1eb2da8-line-height);
        letter-spacing: var( --e-global-typography-1eb2da8-letter-spacing);
        word-spacing: var( --e-global-typography-1eb2da8-word-spacing);
    }
    .elementor-806 .elementor-element.elementor-element-34e3ea2 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 10px;
    }
    .elementor-806 .elementor-element.elementor-element-5c16fcd .mf-btn-wraper {
        text-align: justify;
    }
}

@media(max-width:767px) {
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input,
    .elementor-806 .elementor-element.elementor-element-478242f .irs--round .irs-single,
    .elementor-806 .elementor-element.elementor-element-478242f .asRange .asRange-pointer .asRange-tip,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-file-upload-container .mf-input-file-upload-label,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input-calculation-total,
    .elementor-806 .elementor-element.elementor-element-478242f .mf-input-wrapper .input-range__label-container {
        font-size: var( --e-global-typography-1eb2da8-font-size);
        line-height: var( --e-global-typography-1eb2da8-line-height);
        letter-spacing: var( --e-global-typography-1eb2da8-letter-spacing);
        word-spacing: var( --e-global-typography-1eb2da8-word-spacing);
    }
    .elementor-806 .elementor-element.elementor-element-5c16fcd .mf-btn-wraper {
        text-align: justify;
    }
}